/*html, body {
    width: 100%; height: 100%;
    background-color: #222;
    overflow: hidden;
}*/

body {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}