/*html, body {
    width: 100%; height: 100%;
    overflow: hidden;
}*/
html { overflow: hidden; width: 100%; height: 100%;}
body {
	position: relative;
	width: 100%; height: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}

.hidden { opacity: 0; }

#menuBar {
	position: relative;
	background-color: #990000;
	width: 100%; height: 4%;
	border-bottom: 1px solid #555;
	z-index: 3;
}

#menuBar img{
	height: 100%;
}

#menuBar nav {
	position: absolute; right:0.2em; bottom: 0;
	color: #eee; font-weight: 700;
}

#menuBar nav li {
	cursor: pointer;
}

#menuBar nav li:hover {
	text-decoration: underline;
}

#menuBar ol { margin: 0; }
#menuBar ol li { display: inline-block; }

#geographicalView {
	background-image: url(../images/bedge_grunge.png);
	position: relative;
	height: 96%; width: 100%;
	overflow-y : auto;
}

#gmapOverlay {
  position: absolute; left: 0; top: 0;
  width: 100%; height: 100%;
}
#gmapOverlay.suppressed {
  z-index: -1;
}


#geographicalContainer {
	display: inline-block;
	width: 76%; height: 99%; margin: 0.3em 0;
	position: absolute; left: 14%; top: 0;
  overflow: auto;
}

#geographicalContainer.hidden {
  opacity: 0; display: none;
}

.buildingContainer {
  position: relative; width: 99%;
}

.buildingContainer img{
	width : 100%;
	border-radius: 2px;
	border: 1px solid #888;
	opacity: 0.95;
	/*box-shadow: 1px 0px 6px 1px #888;*/
	/*border: 2px solid #000;*/
}

.devicemap, .heatmap {
  width: 100%;
  position: absolute;
}

.devicemap {
  z-index : 3;
}

.heatmap {
  z-index : 5;
}

.heatmap.hidden {
  display: none;
}

.heatmap canvas {
  width: 100%; height: 100%;
}

.floorNode {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	font-weight: 700;
	/*width: 1em; height: 1em;*/
}
.floorNode.highlighted .nodeBlock{
  border: 2px solid #111;
  box-shadow: 0 0 6px 1px #666;
}

.nodeBlock {
	width: 1em; height: 1em;
  border: 1px solid #111;
	background-color: #666;
}
.nodeBlock.goodBlock { background-color: steelBlue; }
.nodeBlock.avgBlock { background-color: khaki; }
.nodeBlock.badBlock { background-color: red; }

.floorNode .hoverBlock {
  background-color: #111; color:#fff; width: 0;
  padding: 0.1em; margin-top: 0.1em; opacity: 0;
}
.floorNode:hover .hoverBlock { opacity: 0.85; width: auto;}



#dashboardView {
  position: absolute; right: 2em; top: 5%;
  width : auto; max-height: 90%; z-index: 3; padding: 0.2em;
  color: #000; background-color: #fff; opacity: 0.95;
  border: 1px solid #666; box-shadow: 0 0 6px 1px #666;
  overflow-y: auto;
}
#dashboardView.hidden { display: none; }

#dashFilter {
  list-style: none; margin: 0; padding: 0;
  text-align: right;
}
#dashFilter li {
  display: inline-block; background-color: #fff;
  border: 1px solid #666; border-radius: 1px;
  margin: 0 0.2em;
  cursor: pointer;
}
#dashFilter li.active {
  background-color: #ccc;
}

.deviceCard {
  height: 1em;
  margin: 0.2em;
  box-shadow: 0 0 1px 1px #111;
  box-sizing: border-box; -moz-box-sizing: border-box;
}
.deviceCard.hidden { display: none; }
.deviceCard.goodBlock { border-left: 1em solid steelBlue; }
.deviceCard.avgBlock { border-left: 1em solid khaki; }
.deviceCard.badBlock { border-left: 1em solid red; }

#logView {
	position: absolute; right: 0; bottom: 0;
	width : 100%; height : 200px; z-index: 3;
	color: #fff; background-color: #000; opacity: 0.8;
	overflow-y: auto;
  transition: all 300ms ease;
}
#logView.hidden { opacity: 0; height: 0;}
