/* Provided by d3 example */
#topologicalView .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#topologicalView .node text {
  font-size: 11px;
}

#topologicalView path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Self added stylings */
#topologicalView {
	position: absolute; left: 0; top: 4%;
	background-color: #eee;
	width: 1%; height: 96%;
	border-right: 1px solid #666;
	border-top: 1px solid #666;
	/*box-shadow: 1px 0px 5px 2px #666;*/
	overflow-x: auto; overflow-y: auto;
	transition: width 390ms ease;
	z-index: 6;
	opacity: 0.92;
}
#topologicalView:hover,
#topologicalView.pinned
{ width: 60%; height: 96%}

#topologicalSlider {
  height: 160px;
	position: absolute; left: 0; top: 0;
	margin: 1.2em; font-size: 0.65em; opacity: 0;
}

#topologicalPin {
  position: absolute; right: 0; top: 0;
  margin: 0.8em;  opacity: 0;
}

#topologicalView:hover #topologicalSlider,
#topologicalView:hover #topologicalPin,
#topologicalView.pinned #topologicalSlider
{ opacity: 1; }

#topologicalView.pinned #topologicalPin { opacity: 1; border-style: inset;}

#topologicalView.hidden {
	width: 0;
}
