/*html, body {
    width: 100%; height: 100%;
    overflow: hidden;
}*/
html { overflow: hidden; width: 100%; height: 100%;}
body {
	position: relative;
	width: 100%; height: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}

.hidden { opacity: 0; }

#menuBar {
	background-color: #990000;
	width: 100%; height: 4%;
	border-bottom: 1px solid #555;
	z-index: 3;
}

#menuBar img{
	height: 100%;
}

#geographicalView {
	position: relative;
	height: 96%%; width: 100%;
	overflow-y : auto;
}

#geographicalContainer {
	display: inline-block;
	width: 76%;
	position: absolute; left: 14%; top: 0;
}

#geographicalContainer img{
	width : 100%;
}

.floorNode {
	position: absolute;
	display: inline-block;
	cursor: pointer;
	font-weight: 700;
}
.floorNode.highlighted {
	border: 1px solid #111;
	background-color: steelBlue
}
