/*html, body {
    width: 100%; height: 100%;
    overflow: hidden;
}*/
html { overflow: hidden; width: 100%; height: 100%;}
body {
	width: 100%; height: 100%;
	background-color: #fff;
	overflow: hidden;
	margin: 0;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica;
}

.hidden { opacity: 0; }

#geographicalView {
	position: relative;
	float: left;
	width: 69%;
	z-index: 1;
}
#geographicalView img {
	width: 100%;
}
#geographicalView .hideBar{
	position: absolute; left : 0; top: 0;
	width: 20px; height: 16px; text-align: center;
	background-color: #777; color: #fff;
	cursor: pointer;
}

.floorNode {
	position: absolute;
	display: inline-block;
}
.floorNode.highlighted {
	border: 1px solid #111;
	background-color: steelBlue
}
