
#topologicalView .node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#topologicalView .node text {
  font-size: 11px;
}

#topologicalView path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
